<!-- ===== About Start ===== -->
<section class="ji gp uq 2xl:ud-py-35 pg">
  <div class="bb ze ki xn wq">
    <div class="tc wf gg qq">
      <div class="animate_left xc gn gg jn/2 relative w-full max-w-4xl mx-auto pl-8 md:pl-16">
          <div class="flex items-center justify-center w-full h-full">
            <%= image_tag 'theme1/dr_anoop_gupta.webp', alt: 'About Us', class: 'about_img object-contain' %>
          </div>
      </div>

      <!-- About Content -->
      <div class="animate_right jn/2">
        <h4 class="ek yj mk gb">Meet Anoop Gupta</h4>
        <h2 class="fk vj zp pr kk wm qb">India&apos;s leading diabetes reversal expert with over 15 years of experience...</h2>
        <p class="uo">Anoop Gupta is a renowned Diabetes Reversal Coach and Mental Wellness Expert with a profound impact in the health and wellness industry. With a career dedicated to transforming lives, he has successfully guided over 500,000 clients toward healthier, medication-free lifestyles. Anoop's expertise is frequently sought by corporations and government institutions, where he delivers insightful talks and workshops that inspire and educate.
          Anoop's holistic approach to health emphasizes the reversal of diabetes through natural methods, empowering individuals to take control of their well-being. His work is not limited to physical health; he is also a distinguished mental wellness expert, addressing the critical connection between mind and body in achieving overall wellness.In addition to his coaching and speaking engagements, Anoop is the author of the influential book "Medicine Free Life," where he shares his philosophy and practical strategies for living a life free from the dependency on medications. His dedication and achievements have made him a respected figure in the health community, and his contributions continue to inspire many towards a healthier, balanced life.</p>
        <a href="https://www.youtube.com/watch?v=mNgNoo0ZbOw" data-fslightbox class="vc wf hg mb">
          <span class="tc wf xf be dd rg i gh ua">
            <span class="nf h vc yc vd rg gh qk -ud-z-1"></span>
            <%= image_tag 'icon-play.svg', alt: 'Play' %>
          </span>
          <span class="kk">SEE HOW WE WORK</span>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- ===== About End ===== -->
