<!-- ===== Marquee Start ===== -->
<section class="i pg gh ji overflow-hidden relative">
  <!-- Bg Shape (optional) -->
  <%= image_tag 'shape-16.svg', alt: 'Bg Shape', class: 'h p q absolute inset-0' %>

  <div class="bb ye i z-10 ki xn dr">
    <div class="marquee">
      <div class="marquee__inner">
        <span class="ek zj kk wm nb _b">Join with 5000+ Startups Growing with Base.</span>
        <span class="ek zj kk wm nb _b">Get Started Now — Empower Your Business with Base.</span>
        <span class="ek zj kk wm nb _b">Trusted by Founders Worldwide.</span>
        <span class="ek zj kk wm nb _b">Join with 5000+ Startups Growing with Base.</span>
      </div>
    </div>
  </div>
</section>
<!-- ===== Marquee End ===== -->
